<div class="project-container">
    <div class="project-description">
      
<div class="home-container">
    <div class="hero-section">
      <h1>Join the Fight Against using Pesticides</h1>
      <p>Together, we can make a difference!</p>
      
    </div>
  
    <div class="about-section">
      <h2>About Our Project</h2>
      <p>
        At our project, we are dedicated to addressing the critical usage of pesticides and its impact on the environment and agriculture, Our goal is to raise awareness, promote responsible consumption, and implement sustainable practices to reduce usage of pesticides at all levels.
      </p>
      <p>
        Through our platform, we aim to empower individuals, farmers, and communities to take proactive steps towards minimizing pesticides. We provide tools, resources, and a supportive network to help you make a positive change and contribute to a more sustainable future.
      </p>
    </div>
  
    <div class="features-section">
      <h2>Key Features</h2>
      <ul>
        <li>Soil management</li>
        <li>Avoidance of synthetic inputs</li>
        <li>Biodiversity promotion</li>
        <li>Animal welfare</li>
        <li>Certification and standards</li>
      </ul>
    </div>
  
    <div class="call-to-action">
      <h2>Join Us Today</h2>
      <p>Be a part of the solution and help in preventing pesticides. Together, we can create a positive impact on our agriculture and make a difference in the production of agricultural products.</p>
    
    </div>
  </div>
  
    </div>
  </div>
  
