<div class="contacts-container">
    <h2>Our Team :</h2>
    <div class="contact">
       <span>"Team Member 1"</span>
      <h3>SHAIK KHAJA MUNEER</h3>
      <p>Position: project </p>
      <p>Email: khajask319@gmail.com</p>
      <p>Phone: +91 6302861684</p>
    </div>
    <div class="contact">
      <span>"Team Member 2"</span>
      <h3>VANKAYALAPATI SUNIL</h3>
      <p>Position: UX Designer</p>
      <p>Email:vankayalapatisunil>@gmai.com</p>
      <p>Phone: +91 7075547467</p>
    </div>
    <div class="contact">
      <span>"Team Member 3"</span>
        <h3>BEERALA NAGA VISHNU</h3>
        <p>Position: Software Engineer</p>
        <p>Email:saraswatibeerala@gmail.com</p>
        <p>Phone: +91 7842815055</p>
      </div>
      <div class="contact">
        <span>"Team Member 4"</span>
        <h3>KALYAN MACHERLA</h3>
        <p>Position: Software Engineer</p>
        <p>Email: kalyanmacherla@gmail.com</p>
        <p>Phone: +91 9490844818</p>
      </div>
      <div class="contact">
        <span>"Team Member 5"</span>
        <h3>TIRUPATHI ESWARA VARAPRASAD</h3>
        <p>Position: Software Engineer</p>
        <p>Email:@gmail.com</p>
        <p>Phone: +91 9494206302</p>
      </div>
      <div class="contact">
        <span>"Team Member 6"</span>
        <h3>SIDDELA VINEETH </h3>
        <p>Position: Software Engineer</p>
        <p>Email: SIDDELA VINEETH@gmail.com</p>
        <p>Phone: +91 9121358359</p>
      </div>
  </div>
  