<div class="project-container">
    <div class="project-description">
       
<div class="project-description">
    <h1>Project on Organic farming</h1>
    <p>
      Organic farming is a method of agricultural production that emphasizes the use of natural and sustainable practices to grow crops and raise livestock. It involves avoiding the use of synthetic fertilizers, pesticides, genetically modified organisms (GMOs), growth hormones, and antibiotics.
      </p>
    <h2>Objectives</h2>
    <ul>
      <li>Soil health</li>
      <li>Animal welfare</li>
      <li>Pest and weed management</li>
      <li>Crop diversity</li>
    </ul>
  
    <h2>Key Features</h2>
    <ol>
      <li>Soil health: Organic farmers focus on maintaining and improving soil health through practices such as composting, crop rotation, and the use of organic matter.</li>
      <li>Animal welfare:  Organic livestock farming emphasizes the humane treatment of animals. </li>
      <li>Pest and weed management:Instead of using synthetic pesticides, organic farmers rely on natural methods for pest and weed control.</li>
      <li>Crop diversity: Organic farmers often practice crop rotation, where different crops are planted in a sequence over time.</li>
    </ol>
  
    <h2>Get Involved</h2>
    <p>
      We believe that together, we can make a significant impact in developing organic farming. Join our project and be part of the solution! Visit our website or download our mobile app to get started.
    </p>
    
  </div>
  
    </div>
  </div>
 