<section>
    <form >
        <p>Register Here</p><hr>
        <div >First Name<br>
            <input type="text" placeholder="Enter your First Name" id="fname" >
        </div>
    
        <div>Last Name<br>
            <input type="text" placeholder="Enter your Last Name" id="lname" >
        </div>    
    
    
        <div>Phno<br>
            <input type="number" placeholder="Enter your Phno" id="Phno" >
        </div>   
           
        <div>Email<br>
            <input type="email" placeholder="Enter your Email" id="email" >
        </div>
        <div>password<br>
            <input type="password" placeholder="Enter your passsword" id="pass" >
        </div>
        <div>Confirm passsword<br>
           <input type="password" placeholder="Confirm your password" id="fname">
        </div>
        <article>Gender<br>
           <input type="radio" name="Gender">Male
           <input type="radio" name="Gender">Female
           <input type="radio" name="Gender">others
        </article>
    
    
        <button type="submit" >>Register</button>
        <button><a href="hotlog">Login</a></button>
       
    
    
    
    
    
    
    
    
    
    </form>
    </section>
