<section>
    <form >
    
        <p>Login Here</p>
    <div>Email/user Name<br>
    
       <input type="email" placeholder="Enter your  Email" id="email" />
    </div>
    <div>passsword<br>
    
        <input type="password" placeholder="Enter your passsword" id="passsword" />
        </div>
    
    
    
     <button type="submit" id="login">login</button><br>
     <button><a href="hotregi">register</a>
     </button>

     
     


     
    
    
    
    
    
    
    
    
    
    
    
    </form>
    </section>