<div class="content-container">
    <div class="section">
      <h1>About Organic farming</h1>
      <p>
        Organic farming is an agricultural approach that focuses on sustainable and environmentally-friendly methods of cultivation. It aims to produce food in harmony with nature, without the use of synthetic fertilizers, pesticides, genetically modified organisms (GMOs), or growth hormones. Instead, organic farmers rely on natural processes and biological diversity to enhance soil fertility, control pests and diseases, and promote overall ecosystem health.
      </p>
      <h1>
        Benifits of using Organic Farming
      </h1>
        <p>There are several benifits of using organic farming, including:</p>
          <ul>
            <li>Environmental sustainability</li>
            <li>Soil health and fertility</li>
            <li>Consumer demand and market opportunities</li>
            <li>Animal welfare</li>
          </ul>
          <h1>Impacts of using pesticides</h1>
          <p>using pesticides has far-reaching consequences:</p>
          <ul>
            <li>Environmental pollution</li>
            <li>Non-target organism harm</li>
            <li>Development of pesticide resistance</li>
            <li>Health risks to humans</li>
          </ul>
      
    </div>
  </div>
  
