.section-image {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
  }

  
h1 {
  color: rgb(243, 14, 14);
}


p {
  color: rgb(244, 243, 247);
}

li {
  color: rgb(244, 243, 247);
}
  