<body>
    <mat-toolbar color="primary">
      <mat-icon></mat-icon>
      
      <p>ORGANIC FARMING</p>
      <div class="spacer"></div>
      <a mat-raised-button color="warn" routerLink="home3">
        <button mat-button>
          <mat-icon >home</mat-icon>
          <span></span>
        </button>
      </a>
      <a mat-raised-button color="warn" routerLink="contact">
        <button mat-button>
          <mat-icon >call</mat-icon>
          <span></span>
        </button>
      </a>
      
      <a mat-raised-button color="warn" routerLink="about">
        <button mat-button>
          <mat-icon >info</mat-icon>
          <span></span>
        </button>
      </a>
      
      <a mat-raised-button color="warn" routerLink="hotallogin">
        <button mat-button>
          <mat-icon >assessment</mat-icon>
          <span></span>
        </button>
      </a>
     
      <a mat-raised-button color="accent" routerLink="">
        <button mat-button>
          <mat-icon >logout</mat-icon>
          <span></span>
        </button>
      </a>
    
     
     
      </mat-toolbar>
      <router-outlet></router-outlet>
    </body>